/* reset */
html, body, div, span, p, ul, li, h1, h2, h3, h4, h5, h6, img, audio, video, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased; /* 解决字体在移动端比例缩小后出现锯齿的问题 */
  -webkit-text-size-adjust:100%; /* 旋转屏幕时，字体大小调整的问题 */
}
html, body {
  width: 100%;
  height: 100%;
  font-size: 26px;
}
body {
  -webkit-overflow-scrolling: touch; /* 解决IOS滑动卡顿 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 解决移动端a标签点击默认有类似:active的效果 */
}
img {
  -webkit-touch-callout: none; /* 解决移动端IOS长按图片会出现类似“保存图片”的选项 */
}
ul {
  list-style: none;
}
input {
  outline: none;
  border: none;
}
input, textarea {
  /* 去掉IOS的Input内阴影 */
  border: 0;
  -webkit-appearance: none;
}
a {
  text-decoration: none;
  color: #2d8cf0;
}
* {
  box-sizing: border-box;
  touch-action: manipulation;
  font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
}
// 点击水波纹
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity .5s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}
